<div id="info" class="carousel slide">

<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#info" data-slide-to="0" class="active"></li>
  <li data-target="#info" data-slide-to="1"></li>
  <li data-target="#info" data-slide-to="2"></li>
  <li data-target="#info" data-slide-to="3"></li>
  <li data-target="#info" data-slide-to="4"></li>
</ol>

<div class="carousel-inner">

  <div class="item active">
    <div class="slide1">
      <div class="container pull-down jumbotron bg">
        <h1>Find Events in your City!</h1>
        <h2>CrowdSurf is currently working to launch first in Atlanta, Georgia!</h2>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="slide2">
      <div class="container pull-down jumbotron bg">
        <h1>Whether it's the next concert...</h1>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="slide3">
      <div class="container pull-down jumbotron bg">
        <h1>Or popular sports bar...</h1>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="slide4">
      <div class="container pull-down jumbotron bg">
        <h1>Best part is you can do it with friends!</h1>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="slide5">
      <div class="container pull-dow jumbotron">
        <h1>Create Your Own Events!</h1>
        <h2>Be the host, invite your friends, and watch your event come alive!</h2>
      </div>
    </div>
  </div>
      </div>
    </div>
  </div>

</div>

<!-- Controls -->
<a class="carousel-controller left" href="#info" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>

<a class="carousel-controller right" href="#info" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
<!-- Carousel End ================================================== -->