<section id="intro">
  <div class="jumbotron">
    <h1>Welcome to CrowdSurf!!</h1>
    <h2>A World of Events In One Place</h2>
    <div class="page-scroll">
      <a href="#about" class="btn btn-lg btn-primary">About</a>
    </div>
  </div>
</section>
<section id="slides">
  <%= render 'slides' %>
</section>
<section id="about">
  <div class="container"><%= render 'about' %></div>
</section>

<section id="team">
<div class="container"><%= render 'team' %></div>
</section>

<section id="contact">

</section>
